*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/iosApp/Pods/
.kotlin
Gemfile.lock
output
!composeApp/src/desktopMain/build/libnetworktypefinder.dylib
!composeApp/src/desktopMain/build/libnetworktypefinder.so
!composeApp/src/desktopMain/build/networktypefinder.dll
