*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/iosApp/Pods/
.kotlin
Gemfile.lock
output
!composeApp/src/desktopMain/resources/macos/*.dylib
!composeApp/src/desktopMain/resources/linux/*.so
!composeApp/src/desktopMain/resources/windows/*.dll
composeApp/src/desktopMain/resources/windows/WinSparkle.*
composeApp/src/desktopMain/resources/macos/Sparkle.framework

/composeApp/src/desktopMain/frameworks/
composeApp/macos-appcast.xml

certificates/*.pem
