/key.json
/report.xml
/screenshots/*/*.png
/screenshots/screenshots.html
/screenshots/report.xml
/README.md

/metadata/android/*/images/phoneScreenshots/*.jpg
/metadata/android/*/images/phoneScreenshots/*.png
!/metadata/android/*/images/phoneScreenshots/1_*
!/metadata/android/*/images/phoneScreenshots/2_*
!/metadata/android/*/images/phoneScreenshots/3_*
!/metadata/android/*/images/phoneScreenshots/4_*
!/metadata/android/*/images/phoneScreenshots/5_*
