name: Validate
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: macos-latest

    strategy:
      matrix:
        type: [Debug, Release]
        organization: [ooni, dw]

    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build Android
        run: ./gradlew copyBrandingToCommonResources assemble${{ matrix.type }} -Porganization=${{ matrix.organization }}

      - name: Build iOS Framework
        run: ./gradlew link${{ matrix.type }}FrameworkIosSimulatorArm64 -Porganization=${{ matrix.organization }}

  android-lint:
    name: Android Lint
    runs-on: macos-latest
    needs: [ build ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run lint
        run: ./gradlew copyBrandingToCommonResources lint

      - name: Uploads test reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: android-lint-report
          path: composeApp/build/reports/

  kotlin-lint:
    name: Kotlin Lint
    runs-on: macos-latest
    needs: [ build ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run lint
        run: ./gradlew copyBrandingToCommonResources ktlintCheck

      - name: Uploads test reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: android-lint-report
          path: composeApp/build/reports/ktlint/

  common-tests:
    name: Common Tests
    runs-on: macos-latest
    needs: [ build ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run common tests
        run: ./gradlew :composeApp:iosSimulatorArm64Test

      - name: Uploads test reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: android-lint-report
          path: composeApp/build/reports/tests/iosSimulatorArm64Test/
